/* HTML Elements */

body {
  margin: 0;
  text-align: center;
  font-family: 'futura', Nunito, sans-serif;
  color: #40514E;
}

h1 {
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #064663;
}

h2 {
  color: #064663;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #064663;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-top: 6px dotted grey;
  width: 6%;
  margin: 100px auto;
  background-color: #fff;
}

p {
  line-height: 2;
}

a {
  color: #064663;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/* Top container content */

.navbar {
  margin-bottom: 50px;
}

.titleslide {
  color: #142F43;
}

.intro {
  padding-top: 10px;
  width: 75%;
  text-align: left;
}

.intro-header {
  color: #142F43;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

/* Middle container content */
.skill-row {
  width: 80%;
  margin: 50px auto 50px auto;
  text-align: left;
}

/* Bottom container content */
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

/* Containers */
.topContainer {
  background-color: #FFAB76;
  position: relative;
  padding-top: 30px;
}

.middleContainer {
  margin: 100px 0;
}

.bottomContainer {
  background-color: #FFAB76;
  padding: 50px 0 20px;
}

/* Images */
.profilepic {
  height: 591px;
  width: 381px;
  border: 2px solid #ECB365;
  background-color: white;
}

.javaimage {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.webdesignimage {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skyline {
  width: 100%;
  height: 1%;
}


/* Email contact button */
.btn {
  background: #0f8cc2;
  background-image: -webkit-linear-gradient(top, #0f8cc2, #064663);
  background-image: -moz-linear-gradient(top, #0f8cc2, #064663);
  background-image: -ms-linear-gradient(top, #0f8cc2, #064663);
  background-image: -o-linear-gradient(top, #0f8cc2, #064663);
  background-image: linear-gradient(to bottom, #0f8cc2, #064663);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #31749e;
  background-image: -webkit-linear-gradient(top, #31749e, #307aab);
  background-image: -moz-linear-gradient(top, #31749e, #307aab);
  background-image: -ms-linear-gradient(top, #31749e, #307aab);
  background-image: -o-linear-gradient(top, #31749e, #307aab);
  background-image: linear-gradient(to bottom, #31749e, #307aab);
  text-decoration: none;
}
